.modalContainer {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(0, 0, 0, 0.5);*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  border: 1px solid black;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  animation: openModal 0.5s ease-in-out;
  /*animation: openModal 0.5s ease-in-out;*/
}

.modalOpen {
  animation: openModal 0.4s ease-out forwards;
}

.modalClosed {
  animation: closeModal 0.4s ease-out forwards;
}

.submitButtonContainer {

}

.text {
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  width: 60%;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(90%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
