.container {

}

.formContainer {
  width: 50%;
  margin: 150px auto 0 auto;
}

.formTitle {
  margin-top: 25px;
  text-align: center;
}

.form {
  margin: 15px;
}

.submitButtonContainer {
  margin-top: 10px;
}
